{% extends 'resume_mgmt/base.html' %}

{% block title %} Create A Resume! {% endblock %}

{% block content %}
    <form type="input" method="post" action="">
        {% csrf_token %}
        <div>
            <label for="Picture">Picture:</label>
            <input type="file" accept="image/*" single>
        </div>
        <br>
        <div>
            <label for="name">Name:</label>
            <input type="text" name="user_name" placeholder="Ex: Bob">
        </div>
        <br>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="user_email" placeholder="Ex: bob@mail.com">
        </div>
        <br>
        <div>
            <label for="gender">Gender:
            <input type="radio" name="user_gender" > Male
            <input type="radio" name="user_gender" > Female
            <input type="radio" name="user_gender" > Other
            </label>
        </div>
        <br>
        <div>
            <label for="age">Age:</label>
            <input type="number" name="user_age" placeholder="Ex: 25">
        </div>
        <br>
        <div>
            <label for="telephone">Telephone Number:</label>
            <input type="tel" name="user_phone" placeholder="Ex: 18628345833">
        </div>
        <br>
        <div>
            <label for="Address">Home Address:</label>
            <textarea cols="20" rows="5"></textarea>
        </div>
        <div>
            <input type="reset" value="Reset">
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}

