{% extends 'resume_mgmt/base.html' %}

{% block title %}
Query
{% endblock %}

{% block content %}
   <table width="400" height="150" border="1" >
    <tr>
        <td>Name</td>
        <td> {{ resume.name }} </td>
    </tr>
    <tr>
        <td>Email</td>
        <td> {{ resume.email }} </td>
    </tr>
    <tr>
        <td>Age</td>
        <td> {{ resume.age }} </td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td> {{ resume.telephone }} </td>
    </tr>
    <tr>
        <td>Address</td>
        <td> {{ resume.address }} </td>
    </tr>

    <a class="btn btn-default" href="{% url 'resume_mgmt:edit' resume.id %}"><span class="glyphicon glyphicon-pencil"></span></a>


{% endblock %}

