{% extends 'resume_mgmt/base.html' %}

{% block title %}
Query
{% endblock %}

{% block content %}
    {% if resumelist %}
        <form id="searchform" action="" style="margin-left:455px" method="GET"/>
        <input type="text" placeholder="Search by Name or Age" name="search"  value={{ request.GET.search }} >
        <input type="submit" value="Search"/>
        </form>

        <table width="700" border="1">
            <form action="">
                <tr>
                    <th><button type="submit" name="sort" value="name" >&nbsp;Name▼</button></th>
                    <th><button type="submit" name="sort" value="email">&nbsp;Email▼</button></th>
                    <th><button type="submit" name="sort" value="age">&nbsp;Age▼</button></th>
                    <th>Date Created</th>
                    <th><button type="submit" name="sort" value="status">&nbsp;Status▼</button></th>

                </tr>
            </form>

            {% for resume in resumelist %}
                <tr>
                    <td><a href="{% url 'resume_mgmt:query' resume.id %}">{{ resume.name }}</a> </td>
                    <td>{{ resume.email }}</td>
                    <td>{{ resume.age }}</td>
                    <td>{{ resume.create_date }}</td>
                    <td>{{ resume.status }}</td>
                </tr>
            {% endfor %}

        </table>
    {% endif %}
{% endblock %}

