{% extends 'resume_mgmt/base.html' %}

{% block title %}
Query
{% endblock %}

{% block content %}

   <table width="400" height="150" border="1" >
    <tr>
        <td>Name</td>
        <td> {{ resume.name }} </td>
    </tr>
    <tr>
        <td>Email</td>
        <td> {{ resume.email }} </td>
    </tr>
    <tr>
        <td>Age</td>
        <td> {{ resume.age }} </td>
    </tr>
    <tr>
        <td>Gender</td>
        <td> {{ resume.gender }} </td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td> {{ resume.telephone }} </td>
    </tr>
    <tr>
        <td>Graduate Year</td>
        <td> {{ resume.grad_year }} </td>
    </tr>
    <tr>
        <td>Graduate School</td>
        <td> {{ resume.school }} </td>
    </tr>
    <tr>
        <td>Date Created</td>
        <td> {{ resume.create_date }} </td>
    </tr>
    <tr>
        <td>Home Address</td>
        <td> {{ resume.address }} </td>
    </tr>
    <tr>
        <td>Job Type</td>
        <td> {{ resume.Application_Type }} </td>
    </tr>
     <tr>
        <td>Status</td>
        <td>{{ resume.status }} </td>
    </tr>

    <a class="btn btn-default" href="{% url 'resume_mgmt:edit' resume.id %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>


{% endblock %}

